* {
  box-sizing: border-box;
}
.head{
  background-image: image-url("wedding-1353829_1920.jpeg");
  height: 260px;
  background-size: cover;
  font-family: 'Amatic SC', cursive;
  position: relative;
  .headerTop{
    font-size: 50px;
    color: white;
    position: absolute;
    text-shadow: 2px 2px 3px palevioletred;
    &__leftTitle{
      padding-left: 30px;
    }
    &__rightTitle{
      font-size: 100px;
      padding-left: 260px;
    }
  }
  .headerBottom{
    border: solid 7px;
    position: absolute;
    color: white;
    font-size: 50px;
    top:45px;
    right: 50px;
    text-shadow: 2px 2px 3px palevioletred;
    box-shadow: 2px 2px 3px palevioletred;
    li.headerBottom__bigday__text,
    li.headerBottom__bigday__day{
      padding: 5px 20px;
    }
  }
  .headerLogin{
    position: absolute;
    bottom:10px;
    left: 30px;
    &__singup{
      font-family: cursive;
      font-size: 20px;
      display: flex;
      &__login{
        background-color: pink;
        padding: 5px 15px;
      }
      &__new{
        background-color: palevioletred;
        padding: 5px 15px;
        margin-left: 20px;
      }
      a{
        text-decoration: none;
        color: white;
      }
    }
  }
}
.mainTop{
  background-color: #FFF5EE	;
  height: 100%;
  .mainTops{
    width: 80%;
    margin: auto;
    background-color: white;
    &__titles{
      text-align: center;
      font-family: 'Amatic SC', cursive;
      display: flex;
      justify-content: center;
      &__todo{
        font-size: 50px;
      }
      &__add{
        font-size: 30px;
        line-height: 90px;
        margin-left: 15px;
      }
    }
    &__line{
      border: #FFE4E1 solid 2px;
      width: 25%;
      margin: auto;
    }
  &__input{
    margin-top: 10px;
    &__dates{
      display: flex;
      justify-content: center;
      &__date{
        margin-right: 20px;
      }
      &__finished{
        margin-left: 20px;
      }
      input{
        height: 40px;
        width: 250px;
        background-color: #FFFAFA;
      }
    }
    &__titleCat{
      display: flex;
      justify-content: center;
      margin-top: 10px;
      &__title{
        margin-right: 20px;
      }
      &__category{
        margin-left: 20px;
      }
      input,select{
        height: 40px;
        width: 250px;
        background-color: #FFFAFA;
        color: #555555;
      }
    }
    &__text{
      text-align: center;
      margin-top: 10px;
      textarea{
        height: 90px;
        width: 47%;
        background-color: #FFFAFA;
      }
    }
    &__send{
      text-align: center;
      margin-top: 10px;
      border-bottom: solid 2px #FFE4E1;
      padding-bottom: 30px;
      .taskNew__sellBtn{
        width: 47%;
        display       : inline-block;
        border-radius : 5%;          /* 角丸       */
        font-size     : 15pt;        /* 文字サイズ */
        cursor        : pointer;     /* カーソル   */
        padding       : 12px 12px;   /* 余白       */
        background    : #F08080;     /* 背景色     */
        color         : #ffffff;     /* 文字色     */
        line-height   : 1em;         /* 1行の高さ  */
        transition    : .3s;         /* なめらか変化 */
        border        : 2px solid #F08080;    /* 枠の指定 */
      }
      .taskNew__sellBtn:hover {
        color         : #F08080;     /* 背景色     */
        background    : #FFE4E1;     /* 文字色     */
      }
    }
}
}
}
.mainBottom{
  width: 80%;
  margin: auto;
  background-color: white;
  &__index{
    &__title{
      text-align: center;
      font-family: 'Amatic SC', cursive;
      display: flex;
      justify-content: center;
      &__todo{
        font-size: 30px;
        margin-top: 20px;
      }
      &__index{
        font-size: 20px;
        margin-left: 15px;
        line-height: 90px;
      }
    }
  }
  &__indexs{
    border-bottom:solid 1px #FFE4E1;
    &__todos{
      text-align: center;
      font-family: 'Amatic SC', cursive;
      display: flex;
      justify-content: center;
      font-size: 17px;
      height: 200px;
      position: relative;
      &__date,
      &__finished,
      &__title,
      &__category{
        margin: 20px 15px 20px 15px;
      }
      &__date__text,
      &__finished__text,
      &__title__text,
      &__category__text{
        text-align: left;
      }
      &__date__dates,
      &__finished__finish{
        font-size: 30px;
        border: 1px solid #F08080 ;
        height: 50px;
        line-height: 40px;
        padding: 5px 15px;
      }
      &__title__titles{
        font-size: 18px;
        border: 1px solid #F08080 ;
        height: 50px;
        line-height: 40px;
        text-align: left;
        padding: 5px 15px;
      }
      &__category__categories{
        font-size: 20px;
        background-color: #F08080 ;
        color: white;
        height: 50px;
        line-height: 40px;
        padding: 5px 15px;
      }
    &__text{
      width: 85%;
      text-align: center;
      font-family: 'Amatic SC', cursive;
      margin: auto;
      text-align: left;
      position: absolute;
      bottom: 0;
      &__exl{
        font-size: 17px;
      }
      &__texts{
        background-color: #FFE4E1;;
        padding: 5px;
        height: 55px;
        margin-bottom: 30px;
      }
    }
  }
  }
}
.foot{
  height: 100px;
  background-color: #F08080;
  &__text{
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'Amatic SC', cursive;
    padding-top: 30px;
  }
}
